div.pri p.seg {
    width: 200px;
    margin: 10px;
    border: black 2px solid;
  }

  div {
      display: flex;
      flex-wrap: wrap  
  }
  
  div.ter p.seg {
    width: 200px;
    margin: 10px;
    border: black 2px solid;
  }

  div.ter {
      justify-content: space-around;
  }

  p.seg {
      text-align: justify;
  }